.board {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.base-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
