.header {
  padding: 1rem;
  border: 2px solid var(--color-outline);
  border-radius: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo {
  height: var(--logo-height);
}

.score-card {
  display: flex;
  flex-direction: column;
  height: var(--logo-height);
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
}
.score-label {
  color: var(--color-text-score);
}
.score {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}
