.result-section {
  height: 700px;
  width: 80vw;
}

.results {
  display: flex;
  color: var(--color-white);
  margin-top: 3rem;
}

.played {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.played h2 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.played .card-wrap {
  height: auto;
  margin-top: 3rem;
}

.outcome {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#outcome {
  font-size: 3rem;
  text-transform: uppercase;
}

.play-btn {
  margin-top: 1rem;
  color: hsl(349, 71%, 52%);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  white-space: nowrap;
  padding: 0.75rem 3rem;
}

.play-btn:hover {
  cursor: pointer;
  transform: translateY(-1px);
}

.winner {
  position: absolute;
  z-index: -1;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.75) 0,
    rgba(255, 255, 255, 0.5) 33.3%,
    hsl(214, 47%, 23%) 66.6%,
    hsl(237, 49%, 15%) 100%
  );
}
